.App {
  text-align: center;
}

.paginationBttns {
  margin-left: 500px;
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  gap: 10px;
 
}

.paginationBttns a {
  padding: 8px;
  margin: 5px;
  color: gray;
  cursor: pointer;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.paginationBttns a:hover {
  font-weight: bold;
}
.paginationActive a {
  color: black;
  text-decoration: underline;
}

